* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.container {
  width: 100%;
  height: 100px;
  line-height: 100px;
  vertical-align: 100px;
  justify-content: center;
}

header nav ul {
  list-style-type: none;
  display: flex;
  margin: 0px auto;
}

header nav ul li {
  padding: 10px;
  color: #4e4a49;
}

header nav ul a {
  text-decoration: none;
}

header nav ul .jumbo-top-bg {
  background-image: url("/img/jumbotron.jpg");
}

.jumbotron {
  width: 100%;
  height: 500px;
}

main {
  width: 100%;
  background-color: #1c1c1c;
  height: 1000px;
}

main .card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px auto;
  text-transform: uppercase;
  color: white;
}

main .card {
  width: 16.6666666667%;
  height: 50%;
  padding: 10px;
}

main a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

main .button {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

main .button button {
  color: white;
  background-color: #0282f9;
  padding: 10px 40px;
  border: none;
}

.main-bottom {
  height: 200px;
  background-color: #0282f9;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.main-bottom .item {
  display: flex;
  color: white;
  line-height: 200px;
  vertical-align: middle;
  padding: 10px;
}

.main-bottom .item img {
  height: 100px;
}

footer {
  height: 500px;
  background-image: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
  color: white;
  justify-content: space-around;
}

footer img {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer li {
  color: grey;
  padding-top: 5px;
}

footer li a {
  text-decoration: none;
}

footer ul {
  list-style-type: none;
}

.footer-bottom {
  background-color: #303030;
  height: 100px;
  justify-content: space-around;
}

.footer-bottom button {
  color: white;
  background-color: #0282f9;
  padding: 10px 40px;
  border: none;
  padding: 10px;
}

