* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.container {
  width: 100%;
  height: 100px;
  line-height: 100px;
  vertical-align: 100px;
  justify-content: center;
}

header nav ul {
  list-style-type: none;
  display: flex;
  margin: 0px auto;
}

header nav ul li {
  padding: 10px;
  color: #4e4a49;
}

header nav ul a {
  text-decoration: none;
}

main {
  width: 100%;
  background-color: #1c1c1c;
  height: 800px;
}

main .card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px auto;
  text-transform: uppercase;
  color: white;
}

main .card {
  width: 16.6666666667%;
  height: 50%;
  padding: 10px;
}

main .button {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

main .button button {
  color: white;
  background-color: #0282f9;
  padding: 10px 40px;
  border: none;
}

